.ReceiptTable{
    width: 100%;
    height: 150px;
    table-layout: fixed;
    border-collapse: collapse;
}

.ReceiptTable tbody{
  background-color: white;
  display:block;
  width: 100%;
  overflow: auto;
  height: 157px;
}

.ReceiptTable thead tr {
    
   display: block;
   height: 35px;
   justify-content: center;
}
.ReceiptTable thead tr td{
    text-align: center;
 }

.ReceiptTable thead {
    border-radius: 50px;
  background: rgba(88, 88, 88, 0.603);
  color:#fff;
}
.cView {
    background-color: white;
    transition: 0.3s;
}
.cView:hover {
    background-color: #3AA024;
    transition: 0.3s;
}
.bView, .bView:hover, .bView:active{
    color: white;
    font-weight: bold;
    width: 100%;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    border-radius: .25rem;
    font: 400 13.3333px Arial;
    transition: 0.3s;
}
.cDel:hover {
    background-color: #3AA024;
    transition: 0.3s;
}
.bDel, .bDel:hover, .bDel:active{
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-weight: bold;
    width: 100%;
    border: 1px solid transparent;
    padding: .250rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    font: 400 13.3333px Arial;
    transition: 0.3s;
}


.ReceiptTable th, .ReceiptTable td {
  padding: 5px;
  text-align: left;
  width: 200px;
}
.ReceiptTable tbody tr td {
    text-align: center;
}