/* .itemName {
    text-align: left;
}
.itemCost {
    color: rgb(33, 141, 0);
    text-align: right;
}
.itemRow {
    width: 100%;
}

.allorders {
    color: black;
}
*/
.droppable {
    background-color: #F6F6F6;
    height: 100px;
    margin: 15px;
    width: 250px;
    border-radius: 6px;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.295);
}
.droppable:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541);
}
/*

.leftBlock{
    background-color: #3CC47C;
    
}
*/
.receiptHead{
    background-color: rgb(43, 170, 103);
}

.topPageTable{
    width: 100%;
    text-align: center;
    color: #ffff;
}

.headText{
    height: 45px;
    font-weight: bold;
}
/*
.leftBot{
    height: 100vh;
}
*/
.firstField{
    padding-top: 50px;
    text-align: center;
    color: white;
    font-weight: bold;
} 

.mainPage{
    background-color: #f2f2f2;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;

}
.rightButtons{
    justify-content: flex-end;
}
.botLeftCon{
    height: 84vh;
}
.botLeftFunc{
    background-color: #3CC47C;
    width: 450px;
}
.totalBar {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    color: #55AD39;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.315);
}
.groupName {
    margin-top: 10px;
    font-size: 23px;
    text-align: center;
    padding: 5px;
    color: white;
    background-color: #3CC47C;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.644);
        
}

.draggable{
    background-color: rgba(129, 167, 118, 0.247);
    transition: 0.3s;
    margin: 5px;
}
.draggable:hover{
    transition: 0.3s;
    background-color: rgba(108, 207, 81, 0.397);
}
.draggable:active{
    transition: 0.3s;
    background-color: rgba(55, 255, 0, 0.404);
}
.allTables {
    display: flex;
    flex-wrap: wrap;
}